.photo-grid {
  max-width: 1184px;
  padding: 92px 0 0 0;
  display: grid;
  justify-content: center;
  grid-template: repeat(3, 213px) / repeat(4, 284px);
  gap: 16px;
  margin: 0 auto;
  
}
@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template: repeat(4, 225px) / repeat(3, 300px);
    gap: 14px;
    max-width: 928px;
    /* margin: 0 auto; */
  }
}
@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 88px 0 0 0;
    grid-template: repeat(6, 264px) / repeat(2, 352px);
    gap: 16px;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 64px 0 0 0;
    grid-template: 216px / 289px;
    gap: 12px;
    justify-content: start;
    max-width: 289px;
  }
}
