

.page {
    max-width: 1280px;
    margin: auto;
    /* font-family: 'Inter'; */
}


.header {
   max-width: 1184px;
   max-height: 52px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

}
.header__title {
    /* width: 176px;
    height: 52px; */
}
.header__lang-links {
    display: flex;
    flex-direction: row;
}
.header__lang-link {
}


.header__subtitle {

}